<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="shortcut icon" href="../images/a-logo.png" type="image/x-icon">
          <link rel="stylesheet" href="../css/admin-login.css">
          <title>Login | Admin</title>
     </head>
     
     <body>
          <div class="form-container">
               <img src="../images/acer.png" class="logo" alt="acer-logo">
               <h1>Admin Login</h1>

               <% if(error != '') {%>
                    <div class="err-container">
                         <p class="err-message"><%= error %></p>
                    </div>
               <% } %> 

               <% if(notif != '') {%>
                    <div class="notif-container">
                         <p class="err-message"><%= notif %></p>
                    </div>
               <% } %> 


               <form action="login" method="POST">
                    <div>
                         <input type="email" name="email" id="email" class="form-control" placeholder="Email">
                    </div>
          
          
                    <div>
                         <input type="password" name="password" id="password" class="form-control" placeholder="Password">
                    </div>
          
                    <div>
                         <input type="submit" value="LOGIN" class="btn-login">
                    </div>
               </form>
          </div>
     </body>
</html>